h1{
    color:pink;
    text-align: center;
}
body{
    background-color: dodgerblue;
}
#box{
    display: flex;
    padding: 20px;
    margin: 40px;;
    justify-content:center
    border: 2px solid black;
}
#b{
    background-color: yellow;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    width:300px;
    height: 300px;
    margin-left: 85px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    width: 300px;
    height: 300px;
}
h2{
     color:pink;
    text-align: center;
}